﻿body 
{
    padding-top:50px;
    padding-bottom:20px;
}
@media screen and (min-width:768px) 
{
    .jumbotron {
        margin-top: 20px;
    }
}

#menu 
{
    position: absolute;
    right: 0;
    top: 140px;
    margin-right: 2.2rem;
}

#menu ul 
{
        list-style: none;
        margin: 0;
        padding: 0;
}

    #menu li {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.125em;
        padding: 15px 10px;
    }

#menu li:first-child 
{
        padding-left: 24px;

}

#menu li:last-child
{
        padding-right: 4px;
}
#trick 
{
    border: 2px dashed blue;
}
#my code
{
    border:2px dashed blue;
}
#searched code
{
    border:2px dashed blue;
}
#links
{
    border:2px dashed blue;
}
